#Libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import statistics as st 
import math as m
from scipy.stats import sem
from plotly.subplots import make_subplots
import plotly.graph_objects as go
from statsmodels.tsa.seasonal import DecomposeResult, seasonal_decompose

#Importing the Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/Graduation Project/Reema/Datasets/UC5 /cancer-death-rates-by-type.csv")
df

,Entity,Code,Year,Prostate cancer,Breast cancer,Uterine cancer,Bladder cancer,Cervical cancer,Kidney cancer,Stomach cancer,...,Pancreatic cancer,"Tracheal, bronchus, and lung cancer",Lip and oral cavity cancer,Colon and rectum cancer,Gallbladder and biliary tract cancer,Liver cancer,Larynx cancer,Ovarian cancer,Thyroid cancer,Brain and central nervous system cancer
0,Afghanistan,AFG,1990,6.49,7.31,0.84,4.29,4.48,0.83,31.99,...,2.00,14.07,1.27,7.87,2.61,11.97,3.62,1.05,0.80,4.51
1,Afghanistan,AFG,1991,6.47,7.29,0.83,4.23,4.47,0.80,31.85,...,1.95,13.81,1.26,7.75,2.59,11.90,3.59,1.04,0.79,4.45
2,Afghanistan,AFG,1992,6.47,7.30,0.82,4.19,4.47,0.79,31.79,...,1.91,13.59,1.24,7.65,2.57,11.84,3.57,1.03,0.78,4.41
3,Afghanistan,AFG,1993,6.48,7.38,0.82,4.17,4.52,0.78,32.06,...,1.89,13.42,1.24,7.56,2.58,11.87,3.59,1.02,0.79,4.44
4,Afghanistan,AFG,1994,6.48,7.47,0.83,4.14,4.60,0.77,32.50,...,1.88,13.25,1.24,7.43,2.59,11.92,3.63,1.03,0.80,4.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,22.83,15.88,3.30,8.83,19.38,0.90,14.42,...,7.41,14.84,2.25,12.66,1.55,14.72,2.29,4.04,1.06,1.14
6836,Zimbabwe,ZWE,2016,22.87,15.92,3.31,8.79,19.08,0.91,14.26,...,7.60,14.91,2.26,12.76,1.54,14.57,2.28,4.13,1.05,1.15
6837,Zimbabwe,ZWE,2017,22.87,15.90,3.30,8.76,18.71,0.92,14.07,...,7.76,14.95,2.26,12.82,1.53,14.38,2.27,4.23,1.05,1.16
6838,Zimbabwe,ZWE,2018,22.94,15.87,3.28,8.74,18.35,0.93,13.87,...,7.93,15.01,2.27,12.88,1.52,14.20,2.26,4.31,1.04,1.16
6839,Zimbabwe,ZWE,2019,22.94,15.84,3.28,8.73,18.09,0.93,13.73,...,8.06,15.06,2.27,12.93,1.51,14.03,2.25,4.36,1.03,1.16

# Data Exploration

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 25 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Entity                                    6840 non-null   object
 1   Code                                      6150 non-null   object
 2   Year                                      6840 non-null   int64
 3    Prostate cancer                          6840 non-null   float64
 4    Breast cancer                            6840 non-null   float64
 5   Uterine cancer                            6840 non-null   float64
 6    Bladder cancer                           6840 non-null   float64
 7    Cervical cancer                          6840 non-null   float64
 8    Kidney cancer                            6840 non-null   float64
 9   Stomach cancer                            6840 non-null   float64
 10   Nasopharynx cancer                       6840 non-null   float64
 11  Testicular cancer                         6840 non-null   float64
 12   Other pharynx cancer                     6840 non-null   float64
 13   Esophageal cancer                        6840 non-null   float64
 14  Non-melanoma skin cancer                  6840 non-null   float64
 15  Pancreatic cancer                         6840 non-null   float64
 16  Tracheal, bronchus, and lung cancer       6840 non-null   float64
 17   Lip and oral cavity cancer               6840 non-null   float64
 18  Colon and rectum cancer                   6840 non-null   float64
 19   Gallbladder and biliary tract cancer     6840 non-null   float64
 20   Liver cancer                             6840 non-null   float64
 21  Larynx cancer                             6840 non-null   float64
 22  Ovarian cancer                            6840 non-null   float64
 23  Thyroid cancer                            6840 non-null   float64
 24  Brain and central nervous system cancer   6840 non-null   float64
dtypes: float64(22), int64(1), object(2)
memory usage: 1.3+ MB

In [ ]:
df['Year']=df.Year.astype('object')

In [ ]:
df.columns=df.columns.str.replace(r'cancer','')
df.columns=df.columns.str.strip()

In [ ]:
df.describe()

,Prostate,Breast,Uterine,Bladder,Cervical,Kidney,Stomach,Nasopharynx,Testicular,Other pharynx,...,Pancreatic,"Tracheal, bronchus, and lung",Lip and oral cavity,Colon and rectum,Gallbladder and biliary tract,Liver,Larynx,Ovarian,Thyroid,Brain and central nervous system
count,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,...,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000
mean,10.971228,11.143382,1.644254,3.409523,6.709173,1.995730,13.280687,0.787004,0.182776,0.934186,...,5.608491,22.173512,2.298102,13.299971,2.005994,6.068855,1.794126,2.546699,0.647769,2.848693
std,7.014029,4.088074,0.839115,1.744023,5.349787,1.352506,7.512902,0.849601,0.471503,0.837695,...,3.126252,12.761140,1.748592,6.221991,1.465444,8.166812,0.999804,1.363061,0.313960,1.621109
min,2.380000,3.540000,0.250000,0.960000,0.700000,0.390000,3.370000,0.100000,0.000000,0.180000,...,1.130000,4.990000,0.560000,3.620000,0.470000,0.650000,0.310000,0.410000,0.040000,0.280000
25%,6.147500,8.030000,1.080000,2.140000,2.390000,0.910000,8.340000,0.280000,0.070000,0.410000,...,3.010000,11.437500,1.360000,8.170000,1.190000,2.800000,1.090000,1.490000,0.470000,1.530000
50%,9.720000,10.580000,1.490000,3.010000,5.070000,1.520000,11.570000,0.460000,0.110000,0.640000,...,4.900000,19.915000,1.890000,12.020000,1.520000,3.890000,1.510000,2.190000,0.590000,2.360000
75%,13.120000,13.720000,2.020000,4.372500,10.210000,2.880000,16.270000,1.020000,0.190000,1.150000,...,8.060000,30.650000,2.620000,17.192500,2.390000,6.612500,2.320000,3.502500,0.760000,3.990000
max,54.150000,39.240000,6.630000,12.240000,46.160000,8.000000,75.410000,9.630000,7.270000,5.820000,...,21.360000,106.270000,15.480000,38.510000,18.760000,130.680000,7.170000,8.100000,3.280000,8.590000

In [ ]:
print('Number of Missing Vlaues:')
df.isnull().sum()

Number of Missing Vlaues:

Entity                                0
Code                                690
Year                                  0
Prostate                              0
Breast                                0
Uterine                               0
Bladder                               0
Cervical                              0
Kidney                                0
Stomach                               0
Nasopharynx                           0
Testicular                            0
Other pharynx                         0
Esophageal                            0
Non-melanoma skin                     0
Pancreatic                            0
Tracheal, bronchus, and lung          0
Lip and oral cavity                   0
Colon and rectum                      0
Gallbladder and biliary tract         0
Liver                                 0
Larynx                                0
Ovarian                               0
Thyroid                               0
Brain and central nervous system      0
dtype: int64

In [ ]:
d=df[df['Code'].isnull()]
d['Entity'].unique()

array(['African Region (WHO)', 'East Asia & Pacific (WB)',
       'Eastern Mediterranean Region (WHO)', 'England',
       'Europe & Central Asia (WB)', 'European Region (WHO)', 'G20',
       'Latin America & Caribbean (WB)',
       'Middle East & North Africa (WB)', 'North America (WB)',
       'Northern Ireland', 'OECD Countries',
       'Region of the Americas (WHO)', 'Scotland', 'South Asia (WB)',
       'South-East Asia Region (WHO)', 'Sub-Saharan Africa (WB)', 'Wales',
       'Western Pacific Region (WHO)', 'World Bank High Income',
       'World Bank Low Income', 'World Bank Lower Middle Income',
       'World Bank Upper Middle Income'], dtype=object)

In [ ]:
df['Entity'].unique()

array(['Afghanistan', 'African Region (WHO)', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'East Asia & Pacific (WB)',
       'Eastern Mediterranean Region (WHO)', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe & Central Asia (WB)',
       'European Region (WHO)', 'Fiji', 'Finland', 'France', 'G20',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latin America & Caribbean (WB)', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Middle East & North Africa (WB)',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America (WB)', 'North Korea', 'North Macedonia',
       'Northern Ireland', 'Northern Mariana Islands', 'Norway',
       'OECD Countries', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Region of the Americas (WHO)', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia (WB)', 'South Korea', 'South Sudan',
       'South-East Asia Region (WHO)', 'Spain', 'Sri Lanka',
       'Sub-Saharan Africa (WB)', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wales', 'Western Pacific Region (WHO)', 'World',
       'World Bank High Income', 'World Bank Low Income',
       'World Bank Lower Middle Income', 'World Bank Upper Middle Income',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

#Feature Engineering

Adding average mortality rates for each country per year

In [ ]:
lst=[]
for i in range(len(df)):
  lst.append(df[['Prostate', 'Breast', 'Uterine', 'Bladder',
       'Cervical', 'Kidney', 'Stomach', 'Nasopharynx', 'Testicular',
       'Other pharynx', 'Esophageal', 'Non-melanoma skin', 'Pancreatic',
       'Tracheal, bronchus, and lung', 'Lip and oral cavity',
       'Colon and rectum', 'Gallbladder and biliary tract', 'Liver', 'Larynx',
       'Ovarian', 'Thyroid', 'Brain and central nervous system']].iloc[i].mean(skipna=True))
df['Avg_death_per']=lst

Adding average mortality rates for per country accross all years

In [ ]:
countries=list(df.Entity)
res=[]
for i in countries:
  res.append(df[df['Entity']==i].iloc[:,3:25].mean(skipna=True).mean())
df['Avg_death_per_country']=res

In [ ]:
#df.to_csv('DSUC5.csv')

In [ ]:
regions = df[(df['Entity']=='African Region (WHO)')|(df['Entity']=='Eastern Mediterranean Region (WHO)')|(df['Entity']=='East Asia & Pacific (WB)') | (df['Entity']=='Europe & Central Asia (WB)') | (df['Entity']=='European Region (WHO)') | (df['Entity']=='Latin America & Caribbean (WB)')|(df['Entity']=='Middle East & North Africa (WB)')|(df['Entity']=='Region of the Americas (WHO)')|(df['Entity']=='South Asia (WB)')|(df['Entity']=='South-East Asia Region (WHO)')|(df['Entity']=='Sub-Saharan Africa (WB)')|(df['Entity']=='Western Pacific Region (WHO)')|(df['Entity']=='North America (WB)')]
worlds = df[(df['Entity']=='World')|(df['Entity']=='World Bank High Income') | (df['Entity']=='World Bank Low Income') | (df['Entity']=='World Bank Lower Middle Income') | (df['Entity']=='World Bank Upper Middle Income')]
countries=df[~ ((df['Entity']=='African Region (WHO)')|(df['Entity']=='Eastern Mediterranean Region (WHO)') |(df['Entity']=='East Asia & Pacific (WB)') |(df['Entity']=='Europe & Central Asia (WB)') | (df['Entity']=='European Region (WHO)') | (df['Entity']=='Latin America & Caribbean (WB)')|(df['Entity']=='Middle East & North Africa (WB)')|(df['Entity']=='Region of the Americas (WHO)')|(df['Entity']=='South Asia (WB)')|(df['Entity']=='South-East Asia Region (WHO)')|(df['Entity']=='Sub-Saharan Africa (WB)')|(df['Entity']=='Western Pacific Region (WHO)')|(df['Entity']=='North America (WB)')|(df['Entity']=='World')|(df['Entity']=='World Bank High Income') | (df['Entity']=='World Bank Low Income') | (df['Entity']=='World Bank Lower Middle Income') | (df['Entity']=='World Bank Upper Middle Income'))]

In [ ]:
countries['Entity'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'England',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'G20', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'North Korea', 'North Macedonia',
       'Northern Ireland', 'Northern Mariana Islands', 'Norway',
       'OECD Countries', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Wales', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [ ]:
arabs= countries[(countries['Entity']=='Algeria')|(countries['Entity']=='Bahrain')|(countries['Entity']=='Egypt')|(countries['Entity']=='Iraq')|(countries['Entity']=='Kuwait')|(countries['Entity']=='Lebanon')|(countries['Entity']=='Libya')|(countries['Entity']=='Mauritania')|(countries['Entity']=='Morocco')|(countries['Entity']=='Oman')|(countries['Entity']=='Palestine')|(countries['Entity']=='Somalia')|(countries['Entity']=='Sudan')
|(countries['Entity']=='Syria')|(countries['Entity']=='United Arab Emirates')|(countries['Entity']=='Jordan') | (countries['Entity']=='Qatar') | (countries['Entity']=='Saudi Arabia') | (countries['Entity']=='Tunisia')|(countries['Entity']=='Yemen')]
nonarab = countries[~((countries['Entity']=='Algeria')|(countries['Entity']=='Bahrain')|(countries['Entity']=='Egypt')|(countries['Entity']=='Iraq')|(countries['Entity']=='Kuwait')|(countries['Entity']=='Lebanon')|(countries['Entity']=='Libya')|(countries['Entity']=='Mauritania')|(countries['Entity']=='Morocco')|(countries['Entity']=='Oman')|(countries['Entity']=='Palestine')|(countries['Entity']=='Somalia')|(countries['Entity']=='Sudan')|(countries['Entity']=='South Sudan')|(countries['Entity']=='Syria')|(countries['Entity']=='United Arab Emirates')|(countries['Entity']=='Jordan') | (countries['Entity']=='Qatar') | (countries['Entity']=='Saudi Arabia') | (countries['Entity']=='Tunisia')|(countries['Entity']=='Yemen'))]

Adding Quartiles based on the average mortality rate per year

In [ ]:
arabs['quar_years']= pd.qcut(arabs['Avg_death_per'].values, [0, .25, .5, .75, 1.], labels=['Low','Medium','High','Very High'])
nonarab['quar_years']= pd.qcut(nonarab['Avg_death_per'].values, [0, .25, .5, .75, 1.], labels=['Low','Medium','High','Very High'])

<ipython-input-17-8fd57215778a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arabs['quar_years']= pd.qcut(arabs['Avg_death_per'].values, [0, .25, .5, .75, 1.], labels=['Low','Medium','High','Very High'])
<ipython-input-17-8fd57215778a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nonarab['quar_years']= pd.qcut(nonarab['Avg_death_per'].values, [0, .25, .5, .75, 1.], labels=['Low','Medium','High','Very High'])

Adding Quartiles based on the average mortality rate per country

In [ ]:
arabs['quar_country']= pd.qcut(arabs['Avg_death_per_country'].values, [0, .25, .5, .75, 1.], labels=['Low','Medium','High','Very High'])
nonarab['quar_country']= pd.qcut(nonarab['Avg_death_per_country'].values, [0, .25, .5, .75, 1.], labels=['Low','Medium','High','Very High'])

<ipython-input-18-3f24bb58c19a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arabs['quar_country']= pd.qcut(arabs['Avg_death_per_country'].values, [0, .25, .5, .75, 1.], labels=['Low','Medium','High','Very High'])
<ipython-input-18-3f24bb58c19a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nonarab['quar_country']= pd.qcut(nonarab['Avg_death_per_country'].values, [0, .25, .5, .75, 1.], labels=['Low','Medium','High','Very High'])

In [ ]:
arabs

,Entity,Code,Year,Prostate,Breast,Uterine,Bladder,Cervical,Kidney,Stomach,...,Gallbladder and biliary tract,Liver,Larynx,Ovarian,Thyroid,Brain and central nervous system,Avg_death_per,Avg_death_per_country,quar_years,quar_country
90,Algeria,DZA,1990,6.19,8.49,0.52,3.04,3.75,0.72,9.62,...,4.39,1.81,2.51,0.96,0.50,1.48,3.327727,2.956697,Medium,Low
91,Algeria,DZA,1991,6.21,8.50,0.51,3.00,3.67,0.72,9.22,...,4.31,1.83,2.46,0.98,0.50,1.46,3.297727,2.956697,Medium,Low
92,Algeria,DZA,1992,6.13,8.30,0.49,2.92,3.59,0.72,8.89,...,4.29,1.88,2.38,0.99,0.50,1.47,3.244545,2.956697,Medium,Low
93,Algeria,DZA,1993,6.05,8.18,0.47,2.86,3.53,0.72,8.60,...,4.28,1.92,2.31,1.01,0.50,1.48,3.201818,2.956697,Medium,Low
94,Algeria,DZA,1994,5.99,8.12,0.46,2.81,3.48,0.72,8.36,...,4.28,1.95,2.24,1.04,0.50,1.49,3.168636,2.956697,Medium,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6775,Yemen,YEM,2015,5.64,6.51,0.48,2.98,1.95,0.76,19.59,...,1.56,3.35,2.40,0.90,0.52,3.31,3.478182,3.351076,Medium,Medium
6776,Yemen,YEM,2016,5.64,6.65,0.49,2.96,1.96,0.76,19.65,...,1.56,3.37,2.42,0.93,0.53,3.34,3.485000,3.351076,Medium,Medium
6777,Yemen,YEM,2017,5.65,6.79,0.49,2.95,1.99,0.76,19.82,...,1.57,3.39,2.44,0.96,0.53,3.37,3.499545,3.351076,High,Medium
6778,Yemen,YEM,2018,5.68,6.92,0.50,2.96,2.01,0.76,20.06,...,1.58,3.40,2.48,0.98,0.54,3.41,3.522273,3.351076,High,Medium
6779,Yemen,YEM,2019,5.68,6.98,0.50,2.95,2.03,0.75,20.20,...,1.59,3.42,2.49,0.98,0.54,3.42,3.525455,3.351076,High,Medium

In [ ]:
lst=[]
for i in arabs.Entity.unique():
  lst.append(arabs[arabs['Entity']==i]['quar_country'].unique()[0])

In [ ]:
arabs[arabs['Entity']==i]['quar_country'].unique()

['Medium']
Categories (4, object): ['Low' < 'Medium' < 'High' < 'Very High']

In [ ]:
arabs.groupby(['quar_country'])['Entity'].value_counts().to_frame()

                                   Entity
quar_country Entity
Low          Algeria                   30
             Kuwait                    30
             Saudi Arabia              30
             Sudan                     30
             Syria                     30
Medium       Egypt                     30
             Morocco                   30
             Oman                      30
             Tunisia                   30
             Yemen                     30
High         Iraq                      30
             Jordan                    30
             Libya                     30
             Mauritania                30
             Somalia                   30
Very High    Bahrain                   30
             Lebanon                   30
             Palestine                 30
             Qatar                     30
             United Arab Emirates      30

In [ ]:
arabs.groupby(['quar_years','Year'])['Entity'].value_counts().to_frame()

                                      Entity
quar_years Year Entity
Low        1990 Egypt                      1
                Kuwait                     1
                Morocco                    1
                Oman                       1
                Saudi Arabia               1
...                                      ...
Very High  2018 United Arab Emirates       1
           2019 Lebanon                    1
                Palestine                  1
                Qatar                      1
                United Arab Emirates       1

[600 rows x 1 columns]

In [ ]:
arabs

In [ ]:
#arabs.to_csv('Arab_deaths.csv')

In [ ]:
for c in arabs.Entity.unique():
    print(f"Total Number of Years in {c}:",arabs[(arabs['Entity']==c)]['Year'].nunique())

In [ ]:
#countries.to_csv('DSUC5.csv')

In [ ]:
#arabs.Year=arabs.Year.astype('object')

## Statistics

In [ ]:
arabs.describe()

In [ ]:
arab_avg=arabs.groupby(['Entity']).mean()
arab_avg

In [ ]:
from scipy.stats import shapiro
def normality_test(col):
  values=arabs[col]
  for i in values.columns:
    val=arabs[i].values.ravel()
    stat, p = shapiro(val)
    print('Statistics=%.3f, p=%.3f' % (stat, p))
    alpha = 0.05
    if p > alpha:
      print(f'{i} looks Gaussian (fail to reject H0) \n')
    else:
      print(f'{i} does not look Gaussian (reject H0) \n')

In [ ]:
normality_test(ycol)

In [ ]:
sns.distplot(x=arabs['Testicular'].values.ravel(),axlabel='Testicular Cancer')

In [ ]:
sns.distplot(x=arabs['Breast'].values.ravel(),axlabel='Breast Cancer')

In [ ]:
sns.distplot(x=arabs['Tracheal, bronchus, and lung'].values.ravel(),axlabel='Tracheal, bronchus, and lung')

In [ ]:
stat=arabs.groupby(['Entity'])[list(arabs.iloc[:,3:].columns)].describe()
stat=stat.reset_index()

In [ ]:
def stats_per_site(obj):
    for i in stat.Entity.unique():
      c=stat[stat['Entity']==i]
      print(i,'\n',c.iloc[:, c.columns.get_level_values(1)==obj].iloc[:,:-2])
      print('\n','----------------------------------------------','\n')

In [ ]:
stats_per_site('std')

In [ ]:
stats_per_site('mean')

In [ ]:
stats_per_site('max')

In [ ]:
stats_per_site('min')

# Visualizations

In [ ]:
ycol=['Prostate', 'Breast', 'Uterine', 'Bladder',
       'Cervical', 'Kidney', 'Stomach', 'Nasopharynx', 'Testicular',
       'Other pharynx', 'Esophageal', 'Non-melanoma skin', 'Pancreatic',
       'Tracheal, bronchus, and lung', 'Lip and oral cavity',
       'Colon and rectum', 'Gallbladder and biliary tract', 'Liver', 'Larynx',
       'Ovarian', 'Thyroid', 'Brain and central nervous system']

In [ ]:
def line():
  for i in arabs.Entity.unique():
    country=arabs[arabs['Entity']==i]
    fig = px.line(country, x="Year", y=ycol, title=f"Cancer Mortality Rate per Cancer Site in {i} <br><sup>iCanViz Research and Development Project 2023 - GA4DH and PSUT - Prof.Mohammad Odeh, Dr.Serin Atiani, Mahmoud Saber, Reema Maen</sup>",labels={"variable": "Cancer Site","value":'Mortality Rate'})
    fig.update_xaxes( dtick="M1", tickformat="%b\n%Y")
    fig.show()

In [ ]:
def calc(df,year):
  lst=[]
  if year==None:
      for i in ycol:
        lst.append(df[i].mean(skipna=True))
      return lst,ycol
  else: 
    for i in ycol:
      lst.append(df[df['Year']==year][i].mean(skipna=True))
    return lst,ycol

In [ ]:
def calc2(df,year):
  lst=[]
  countries=df.Entity.unique()
  if year==None:
      for i in countries:
        r=df[df['Entity']==i].iloc[:,3:-5].values.ravel()
        lst.append(r.mean())
      return lst,countries
  else: 
    for i in countries:
      r=df[(df['Entity']==i)& (df['Year']==year)].iloc[:,3:-5]
      lst.append(r.values.ravel().mean())
    return lst,countries

In [ ]:
def plot_seasonal_decompose(result:DecomposeResult, dates:pd.Series=None, title:str="Seasonal Decomposition"):
    x_values = dates if dates is not None else np.arange(len(result.observed))
    return (
        make_subplots(
            rows=4,
            cols=1,
            subplot_titles=["Observed", "Trend", "Seasonal", "Residuals"],
        )
        .add_trace(
            go.Scatter(x=x_values, y=result.observed, mode="lines", name='Observed'),
            row=1,
            col=1,
        )
        .add_trace(
            go.Scatter(x=x_values, y=result.trend, mode="lines", name='Trend'),
            row=2,
            col=1,
        )
        .add_trace(
            go.Scatter(x=x_values, y=result.seasonal, mode="lines", name='Seasonal'),
            row=3,
            col=1,
        )
        .add_trace(
            go.Scatter(x=x_values, y=result.resid, mode="lines", name='Residual'),
            row=4,
            col=1,
        )
        .update_layout(
            height=900, title=f'<b>{title}</b>', margin={'t':100}, title_x=0.5, showlegend=False ,
                                plot_bgcolor='rgba(0, 0, 0, 0)',
                                paper_bgcolor='rgba(0, 0, 0, 0)'
        )
    )

In [ ]:
c=arabs[arabs['Entity']=='Jordan']
decomposition = seasonal_decompose(c['Breast'], model='additive', period=12)
fig = plot_seasonal_decompose(decomposition, dates=c['Year'])
fig.show()

In [ ]:
year=arabs.Year.unique()
lst=[]
for i in year:
  for s in ycol:
    lst.append(arabs[arabs['Year']==i][s].mean(skipna=True))

In [ ]:
def error_bars(var,flag):
  if flag==1:
    error_country=[]
    country=arabs[arabs['Entity']==var]
    for i in country.Year.unique():
      error_country.append(sem(country[(country['Year']==i)][ycol].values.ravel()))
    return error_country

  elif flag==0:
    error_site=[]
    site=arabs[['Avg_death_per','Year',var]]
    for i in site.Year.unique():
      error_site.append(sem(site[site['Year']==i][var].ravel()))
    return error_site

In [ ]:
site=arabs[['Avg_death_per','Year','Breast']]
site[site['Year']==2009]['Breast'].ravel()

In [ ]:
def errors(df):
  er=[]
  for i in ycol:
    er.append(st.stdev(df[i])/ m.sqrt(len(df[i])))
  return er

In [ ]:

xx,yy=calc(arabs,None)
fig = px.scatter( x=xx, y=yy,error_x=er,labels={'y':'Cancer Sites','x':'Mortality Rates'},
              title=f"Average Mortality Rates Per Cancer Site in the Arab World (1999-2019)  <br><sup>iCanViz Research and Development Project 2023 - GA4DH and PSUT - Prof.Mohammad Odeh, Dr.Serin Atiani, Reema Maen, Mahmoud Saber</sup>")
fig.update_layout(yaxis={'categoryorder': 'total ascending'},
                                plot_bgcolor='rgba(0, 0, 0, 0)',
                                paper_bgcolor='rgba(0, 0, 0, 0)')
fig.show()

In [ ]:
def site(i):
  lst=[]
  for year in arabs.Year.unique():
    lst.append(df[df['Year']==year][i].mean(skipna=True))
  return lst

### HERE

In [ ]:
for i in arabs.Entity.unique():
  df=arabs[arabs['Entity']==i]
  er=error_bars(i,1)
  
  fig = go.Figure([
    go.Scatter(
        name='Mortality Rate ',
        x=df['Year'],
        y=df['Avg_death_per'],
        mode='lines',
        line=dict(color='black'),
    ),
        go.Scatter(
        name='Upper Bound',
        x=df['Year'],
        y=df['Avg_death_per']+ er,
        mode='lines',
        marker=dict(color="#E7E7E7"),
        fill='tonexty',
        #showlegend=False
    ),
        go.Scatter(
        name='Lower Bound',
        x=df['Year'],
        y=df['Avg_death_per']- er,
        mode='lines',
        marker=dict(color="#E7E7E7"),
        fill='tonexty',
        #showlegend=False
    ),
    ])

  fig.update_layout(
    yaxis_title='Average Mortality Rate', xaxis_title='Years',
    title=f'Average Mortality Rate in {i} (1990-2019)',plot_bgcolor='rgba(0, 0, 0, 0)', paper_bgcolor='rgba(0, 0, 0, 0)',
    hovermode="x"
    )
  fig.show()

In [ ]:
fig = go.Figure()
for i in ycol:
  fig.add_trace(go.Box(y=arabs[i],name=i,showlegend=False, marker_color='blue'))
  fig.add_trace(go.Box(y=nonarab[i],name=i,showlegend=False, marker_color='red'))
fig.show()
fig.update_layout(yaxis_title='Mortality Rates', xaxis_title='Cancer Site', boxmode='group',
  title=f'Mortality Rates across all Cancer Sites in  Arab World (1990-2019)',plot_bgcolor='rgba(0, 0, 0, 0)', paper_bgcolor='rgba(0, 0, 0, 0)')

In [ ]:
fig = go.Figure()
country=arabs.Entity.unique()
for i in country:
  sites=arabs[arabs['Entity']==i][ycol,'Avg_death_per']
  fig.add_trace(go.Box(y=sites['Avg_death_per'],name=i,showlegend=False, marker_color='#1f77b4'))
fig.show()
fig.update_layout(yaxis_title='Mortality Rates in Jordan accross all Cancer Sites', xaxis_title='Cancer Site',
  title=f'Mortality Rates across all Cancer Sites in Jordan (1990-2019)',plot_bgcolor='rgba(0, 0, 0, 0)', paper_bgcolor='rgba(0, 0, 0, 0)')

In [ ]:
er

In [ ]:
np.subtract(yy,er)

In [ ]:
import numpy as np
for i in ycol:
  df=arabs[['Avg_death_per','Year',i]]
  er=error_bars(i,0)
  yy=site(i)
  fig = go.Figure([
    go.Scatter(
        name='Mortality Rate ',
        x=df['Year'].unique(),
        y=yy,
        mode='lines',
        line=dict(color='black'),
    ),
    
        go.Scatter(
        name='Upper Bound',
        x=df['Year'].unique(),
        y=yy+er,
        mode='lines',
        marker=dict(color="#E7E7E7"),
        fill='tonexty',
        #showlegend=False
    ),
        go.Scatter(
        name='Lower Bound',
        x=df['Year'].unique(),
        y= np.subtract(yy,er),
        mode='lines',
        marker=dict(color="#E7E7E7"),
        fill='tonexty',
        #showlegend=False
    ),
    ])

  fig.update_layout(
    yaxis_title='Average Mortality Rate', xaxis_title='Years',
    title=f'Average Mortality Rate in {i} (1990-2019)',plot_bgcolor='rgba(0, 0, 0, 0)', paper_bgcolor='rgba(0, 0, 0, 0)',
    hovermode="x"
    )
  fig.show()

In [ ]:
er=[]
import math as m
from scipy.stats import sem

for i in arabs.Entity.unique():
  er.append(sem(arabs[arabs['Entity']==i].iloc[:,3:-5].values.ravel()))

In [ ]:
xx,yy=calc2(arabs,None)

fig = px.scatter(x=xx, y=yy ,error_x=er,labels={'y':'Countries','x':'Average Mortality Rates'},
              title=f"Average Mortality Rates per Arab Country Accross all Cancer Sites (1999-2019)  <br><sup>iCanViz Research and Development Project 2023 - GA4DH and PSUT - Prof.Mohammad Odeh, Dr.Serin Atiani, Reema Maen, Mahmoud Saber</sup>")
fig.update_layout(yaxis={'categoryorder': 'total ascending'},
                                plot_bgcolor='rgba(0, 0, 0, 0)',
                                paper_bgcolor='rgba(0, 0, 0, 0)')
fig.show()

In [ ]:
arabs.groupby('quar_country')['Entity'].value_counts()

In [ ]:
sample=nonarab.groupby('quar_country', group_keys=False).apply(lambda x: x.sample(5))

In [ ]:
xx1,yy1=calc(sample,None)
xx,yy=calc(arabs,None)

In [ ]:
ern=errors(sample)
ern

In [ ]:
er=errors(arabs)
er

In [ ]:
import plotly.graph_objects as go
fig = go.Figure(data=[
    go.Bar(name='Non Arab World', x=yy1, y=xx1),
    go.Bar(name='Arab World', x=yy, y=xx)
])
fig.update_layout(barmode='group',xaxis={'categoryorder': 'total descending'},title_text=f"Cancer Survival Percentage per Cancer Site in the Non Arab World vs the Arab World (1999 -2019) <br><sup>iCanViz Research and Development Project 2023 - GA4DH and PSUT - Prof.Mohammad Odeh, Dr.Serin Atiani, Reema Maen, Mahmoud Saber</sup>",
                  yaxis=dict(title='Cancer Survival Percentage'),
                                plot_bgcolor='rgba(0, 0, 0, 0)',
                                paper_bgcolor='rgba(0, 0, 0, 0)')
fig.show()

In [ ]:
def error_time(df,country):
  er=[]
  for i in df.Year.unique():
    er.append(sem(df[(df['Entity']==country) & (df['Year']==i)].iloc[:,3:-5].values.ravel()))
  return er

In [ ]:
country=arabs[arabs['Entity']=='Jordan']
  
fig = go.Figure([
    go.Scatter(
        name='Measurement',
        x=country['Year'],
        y=country['Avg_death_per'],
        mode='lines',
        line=dict(color='rgb(31, 119, 180)'),
    ),
  
  
  go.Scatter(
        name='Upper Bound',
        x=country['Year'],
        y=errors,
        mode='lines',
        marker=dict(color="#444"),
        line=dict(width=0),
        showlegend=False
    ),
])
fig.update_layout(
    yaxis_title='Wind speed (m/s)',
    title='Continuous, variable value error bars',
    hovermode="x"
)
fig.show()

In [ ]:
country=arabs[arabs['Entity']=='Jordan']
errors=error_time(country,'Jordan')
fig = px.line(country,error_y=errors, x="Year", y='Avg_death_per', title=f"Cancer Mortality Rate in Jordan (1990 - 2019) <br><sup>iCanViz Research and Development Project 2023 - GA4DH and PSUT - Prof.Mohammad Odeh, Dr.Serin Atiani, Mahmoud Saber, Reema Maen</sup>",labels={"Avg_death_per":'Average Mortality Rate'})
fig.update_xaxes( dtick="M1", tickformat="%b\n%Y")
fig.update_layout(plot_bgcolor='rgba(0, 0, 0, 0)',
                                paper_bgcolor='rgba(0, 0, 0, 0)')
fig.show()

In [ ]:
x=country['Breast'].mean()
x1="{:.2f}".format(x)
fig = px.line(country, y='Breast',x='Year',labels={'Breast':'Breast Cancer Mortality Rate '},title='Breast Cancer Mortality Rate in Jordan (1990 - 2019) ')
fig.add_hline(y=x1,line_dash="dash", line_color="green")
fig.update_layout(plot_bgcolor='rgba(0, 0, 0, 0)',
                                paper_bgcolor='rgba(0, 0, 0, 0)')
fig.show()

In [ ]:
ycol=country['Breast']

fig=px.box(country,y='Breast',labels={'value':'Survival Percentage','variable':'Country'},
           title="Survival Percentages Across Arab Countries From 1999 Till 2009 <br><sup>iCanViz Research and Development Project 2023 - DA4DH and PSUT - Prof.Mohammad Odeh, Dr.Serin Atiani, Reema Maen, Mahmoud Saber</sup>")
fig.show()

In [ ]:
arabs

In [ ]:
country['Breast'].std()

In [ ]:
xx,yy=calc(country,1999)
fig = px.bar( x=xx, y=yy, orientation='h',labels={'y':'Cancer Sites','x':'Death Rates'},
              title=f"Cancer Death Rates Per Cancer Site In Egypt in   <br><sup>iCanViz Research and Development Project 2023 - GA4DH and PSUT - Prof.Mohammad Odeh, Dr.Serin Atiani, Reema Maen, Mahmoud Saber</sup>")
fig.update_layout(yaxis={'categoryorder': 'total ascending'})
fig.show()

In [ ]:
country['Breast']

In [ ]:
line()

In [ ]:
def bar():
  ycol=dfy.columns.to_list()

  for i in ycol:
    fig = px.bar(arabs,y=i,x='Year',color='Entity',labels={i:f"{i} ","Entity":'Country'},
               title=f"Cancer Mortality Rate per Cancer Site Across Arab Countries for {i} Cancer <br><sup>iCanViz Research and Development Project 2023 - DA4DH and PSUT - Prof.Mohammad Odeh, Dr.Serin Atiani, Mahmoud Saber, Reema Maen</sup>", 
               text_auto=True)
    fig.update_xaxes(type='category')
    fig.show()

In [ ]:
bar()

In [ ]:
ycol=[' Prostate cancer ', ' Breast cancer ', 'Uterine cancer ',
       ' Bladder cancer', ' Cervical cancer ', ' Kidney cancer ',
       'Stomach cancer', ' Nasopharynx cancer', 'Testicular cancer ',
       ' Other pharynx cancer ', ' Esophageal cancer ',
       'Non-melanoma skin cancer ', 'Pancreatic cancer',
       'Tracheal, bronchus, and lung cancer', ' Lip and oral cavity cancer',
       'Colon and rectum cancer', ' Gallbladder and biliary tract cancer ',
       ' Liver cancer ', 'Larynx cancer ', 'Ovarian cancer', 'Thyroid cancer',
       'Brain and central nervous system cancer ']
fig=px.box(arabs,x='Entity',y=ycol,hover_data=['Year'],labels={'value':'Death Rates',"Entity":'Country','variable':'Cancer Site'},
           title="Cancer Death Rates Across Cancer Sites From 1990 Till 2019 For Arab Countries <br><sup>iCanViz Research and Development Project 2023 - DA4DH and PSUT - Prof.Mohammad Odeh, Dr.Serin Atiani, Reema Maen, Mahmoud Saber</sup>")
fig.show()

In [ ]:
x=arabs.Avg_death_per
yr = round(x,2)

In [ ]:
fig = px.bar(arabs,y=yr,x='Year',color='Entity',labels={'Avg_survival_per':'Average Survival Percentage',"Entity":'Country'},
               title="Cancer Death Percentage Across Arab Countries From 1999 Till 2009  <br><sup>iCanViz Research and Development Project 2023 - DA4DH and PSUT - Prof.Mohammad Odeh, Dr.Serin Atiani, Reema Maen, Mahmoud Saber</sup>"
               ,text_auto=True
               )
fig.update_xaxes(type='category')
fig.show()

In [ ]:
fig=px.scatter(arab_std,x='Entity',y=ycol,labels={'value':'Standard deviation',"Entity":'Country','variable':'Cancer Site'},
           title="Cancer Death Rater Across Cancer Sites From 1990 Till 2019 For Arab Countries <br><sup>iCanViz Research and Development Project 2023 - DA4DH and PSUT - Prof.Mohammad Odeh, Dr.Serin Atiani, Reema Maen, Mahmoud Saber</sup>")
fig.show()

In [ ]:
!pip install geoplot

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geoplot
  Downloading geoplot-0.5.1-py3-none-any.whl (28 kB)
Requirement already satisfied: matplotlib>=3.1.2 in /usr/local/lib/python3.10/dist-packages (from geoplot) (3.7.1)
Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (from geoplot) (0.12.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from geoplot) (1.5.3)
Collecting geopandas>=0.9.0 (from geoplot)
  Downloading geopandas-0.13.2-py3-none-any.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 18.2 MB/s eta 0:00:00
Collecting cartopy (from geoplot)
  Downloading Cartopy-0.21.1.tar.gz (10.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.9/10.9 MB 31.5 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting mapclassify>=2.1 (from geoplot)
  Downloading mapclassify-2.5.0-py3-none-any.whl (39 kB)
Collecting contextily>=1.0.0 (from geoplot)
  Downloading contextily-1.3.0-py3-none-any.whl (16 kB)
Requirement already satisfied: geopy in /usr/local/lib/python3.10/dist-packages (from contextily>=1.0.0->geoplot) (2.3.0)
Collecting mercantile (from contextily>=1.0.0->geoplot)
  Downloading mercantile-1.2.1-py3-none-any.whl (14 kB)
Requirement already satisfied: pillow in /usr/local/lib/python3.10/dist-packages (from contextily>=1.0.0->geoplot) (8.4.0)
Collecting rasterio (from contextily>=1.0.0->geoplot)
  Downloading rasterio-1.3.7-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (21.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.3/21.3 MB 54.1 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from contextily>=1.0.0->geoplot) (2.27.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from contextily>=1.0.0->geoplot) (1.2.0)
Collecting xyzservices (from contextily>=1.0.0->geoplot)
  Downloading xyzservices-2023.5.0-py3-none-any.whl (56 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 56.5/56.5 kB 6.8 MB/s eta 0:00:00
Collecting fiona>=1.8.19 (from geopandas>=0.9.0->geoplot)
  Downloading Fiona-1.9.4.post1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 52.8 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from geopandas>=0.9.0->geoplot) (23.1)
Collecting pyproj>=3.0.1 (from geopandas>=0.9.0->geoplot)
  Downloading pyproj-3.5.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.7/7.7 MB 60.5 MB/s eta 0:00:00
Requirement already satisfied: shapely>=1.7.1 in /usr/local/lib/python3.10/dist-packages (from geopandas>=0.9.0->geoplot) (2.0.1)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.10/dist-packages (from mapclassify>=2.1->geoplot) (1.10.1)
Requirement already satisfied: numpy>=1.3 in /usr/local/lib/python3.10/dist-packages (from mapclassify>=2.1->geoplot) (1.22.4)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from mapclassify>=2.1->geoplot) (1.2.2)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from mapclassify>=2.1->geoplot) (3.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.1.2->geoplot) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.1.2->geoplot) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.1.2->geoplot) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.1.2->geoplot) (1.4.4)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.1.2->geoplot) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.1.2->geoplot) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->geoplot) (2022.7.1)
Collecting pyshp>=2.1 (from cartopy->geoplot)
  Downloading pyshp-2.3.1-py2.py3-none-any.whl (46 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 46.5/46.5 kB 5.2 MB/s eta 0:00:00
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas>=0.9.0->geoplot) (23.1.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas>=0.9.0->geoplot) (2022.12.7)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas>=0.9.0->geoplot) (8.1.3)
Collecting click-plugins>=1.0 (from fiona>=1.8.19->geopandas>=0.9.0->geoplot)
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting cligj>=0.5 (from fiona>=1.8.19->geopandas>=0.9.0->geoplot)
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas>=0.9.0->geoplot) (1.16.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /usr/local/lib/python3.10/dist-packages (from geopy->contextily>=1.0.0->geoplot) (2.0)
Collecting affine (from rasterio->contextily>=1.0.0->geoplot)
  Downloading affine-2.4.0-py3-none-any.whl (15 kB)
Collecting snuggs>=1.4.1 (from rasterio->contextily>=1.0.0->geoplot)
  Downloading snuggs-1.4.7-py3-none-any.whl (5.4 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from rasterio->contextily>=1.0.0->geoplot) (67.7.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->contextily>=1.0.0->geoplot) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->contextily>=1.0.0->geoplot) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->contextily>=1.0.0->geoplot) (3.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->mapclassify>=2.1->geoplot) (3.1.0)
Building wheels for collected packages: cartopy
  Building wheel for cartopy (pyproject.toml) ... done
  Created wheel for cartopy: filename=Cartopy-0.21.1-cp310-cp310-linux_x86_64.whl size=11102734 sha256=9f8df9fe4ccd65739ad0643ac2cd8fc629e5dcf4959ccfc8b3618daaab9e865a
  Stored in directory: /root/.cache/pip/wheels/30/b0/1a/1c1909e00c76653dc4e2ff48555257c0eb2d1698280c8d9955
Successfully built cartopy
Installing collected packages: xyzservices, snuggs, pyshp, pyproj, mercantile, cligj, click-plugins, affine, rasterio, fiona, mapclassify, geopandas, contextily, cartopy, geoplot
Successfully installed affine-2.4.0 cartopy-0.21.1 click-plugins-1.1.1 cligj-0.7.2 contextily-1.3.0 fiona-1.9.4.post1 geopandas-0.13.2 geoplot-0.5.1 mapclassify-2.5.0 mercantile-1.2.1 pyproj-3.5.0 pyshp-2.3.1 rasterio-1.3.7 snuggs-1.4.7 xyzservices-2023.5.0

In [ ]:
import geoplot as gplt
import geopandas as gpd
import geoplot.crs as gcrs
import imageio
import pandas as pd
import pathlib
import matplotlib.pyplot as plt
import mapclassify as mc
import numpy as np

In [ ]:
fig = px.scatter_geo(arabs, locations="Code",color='Entity',
                     hover_name="Entity",
                     size="Avg_death_per_country",
                     projection="natural earth")
fig.show()